# fly.toml app configuration file for customerbraceletwithgpswebsite-backend
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "customerbraceletwithgpswebsite-backend"
primary_region = "sin" # Singapore region

[build]
  dockerfile = "Dockerfile"

[env]
  ASPNETCORE_ENVIRONMENT = "Production"

[[services]]
  protocol = "tcp"
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.http_checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "GET"
    path = "/api/health"
    protocol = "http"
    tls_skip_verify = false

[deploy]
  strategy = "immediate"
